<div class="container">
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <button class="btn btn-primary" tooltip="This is tooltip 1">I got a tooltip </button>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <button class="btn btn-primary" tooltip="This is tooltip 2">I also got a tooltip 2 </button>
    <p>Some text</p>
    <button class="btn btn-primary" tooltip="This is tooltip 3">I also got a tooltip 3</button>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Press escape to remove tooltip</p>
</div>